.app-background {
    background-image: url('https://img.freepik.com/free-vector/abstract-purple-wavy-patterned-background_53876-176287.jpg?semt=ais_hybrid&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.modal-container {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-container h2 {
    margin-bottom: 16px;
}

.modal-container p {
    margin-bottom: 16px;
}

.modal-container button {
    margin-top: 8px;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.label {
    margin-bottom: 8px;
    display: block;
}

.input {
    margin-bottom: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.text-white {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.hover\:underline:hover {
    text-decoration: underline;
}